---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import TrustStrip from "../components/TrustStrip.astro";
import Stats from "../components/Stats.astro";
import Strategies from "../components/Strategies.astro";
import Approach from "../components/Approach.astro";
import Performance from "../components/Performance.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <TrustStrip />
    <Stats />
    <Strategies />
    <Approach />
    <Performance />
    <CTA />
  </main>
  <Footer />
</Layout>

<script>
  import "../scripts/main.js";
</script>
